* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__container {
  display: flex;
}

.nav__btn--container {
  padding: 4em;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 2em;
}