@use "./utilities/base";
<<<<<<< HEAD
@use "./sections/hero";

=======
@import "./sections/nav";
@import "./sections/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 2em ;
}
>>>>>>> 088c20061e5ab81ad59fa52a207f5f6d528db298
